	
		<!-- MAIN -->
		<div id="main">
				
			<!-- social -->
			<div id="social-bar">
				<ul>
					<li><a href="http://www.facebook.com"  title="Become a fan"><img src="<?php echo PUBLIC_PATH; ?>/assets/images/social/facebook_32.png"  alt="Facebook" /></a></li>
					<li><a href="http://www.twitter.com" title="Follow my tweets"><img src="<?php echo PUBLIC_PATH; ?>/assets/images/social/twitter_32.png"  alt="Facebook" /></a></li>
					<li><a href="http://www.google.com"  title="Add to the circle"><img src="<?php echo PUBLIC_PATH; ?>/assets/images/social/google_plus_32.png" alt="Facebook" /></a></li>
				</ul>
			</div>
			<!-- ENDS social -->
			
			
			
			<!-- Content -->
			<div id="content">
			
				<!-- masthead -->
		        <div id="masthead">
					<span class="head">Database</span><span class="subhead">adminstration documentation</span>
					<ul class="breadcrumbs">
						<li><a href="<?php echo PUBLIC_PATH; ?>/">home</a></li>
						<li><a href="<?php echo PUBLIC_PATH; ?>/docs"> / docs</a></li>
						<li>/ database</li>
					</ul>
				</div>
	        	<!-- ENDS masthead -->
	        	
	        	
	        	
	        	<!-- page content -->
	        	<div id="page-content-full">
	        	
						
<p>
Database connectivity and use is simple using SKF. The initial database connection is simply called with a single variable db::conn  which allows you to use all the PDO functions PHP has to offer.
</p>

<div class="codebox">
<?php
$code='
<?php
        // connect to database
        $db = new db;
	$db->conn->prepare( "SELECT * FROM my_table" );
?>
';
highlight_string($code);
?>
</div>

<p>
The configuration of the database connection is governed by the config.ini.php file in the database section. There you will see something like this..
</p>

<div class="displaybox">
<pre>
[database]
db_type = mysql
db_name = web2bb
db_hostname = localhost
db_username = username
db_password = password
db_port = 3306
</pre>
</div>
<p>
As the system uses PDO as the interface, all the functionality of PDO is available from this single instance.

<div class="codebox">
<?php
$code = '
<?php
        // connect to database
        $db = new db;

        $sql = "SELECT blog_heading, blog_text FROM my_blog WHERE blog_id=:blog_id";

        $stmt = $db->conn->prepare( $sql );

        $stmt->bindParam(":blog_id", $blog_id, PDO::PARAM_INT );

        $stmt->execute();

        $result = $stmt->fetchAll(PDO::FETCH_ASSOC);
?>
';
highlight_string($code);
?>
</div>

</dd>
</dl>

	        	</div>
	        	<!-- ENDS page content -->
				
			
			</div>
			<!-- ENDS content -->
			
			<div class="clearfix"></div>
			<div class="shadow-main"></div>
			
			
		</div>
		<!-- ENDS MAIN -->
		
