	
		<!-- MAIN -->
		<div id="main">
				
			<!-- social -->
			<div id="social-bar">
				<ul>
					<li><a href="http://www.facebook.com"  title="Become a fan"><img src="<?php echo PUBLIC_PATH; ?>/assets/images/social/facebook_32.png"  alt="Facebook" /></a></li>
					<li><a href="http://www.twitter.com" title="Follow my tweets"><img src="<?php echo PUBLIC_PATH; ?>/assets/images/social/twitter_32.png"  alt="Facebook" /></a></li>
					<li><a href="http://www.google.com"  title="Add to the circle"><img src="<?php echo PUBLIC_PATH; ?>/assets/images/social/google_plus_32.png" alt="Facebook" /></a></li>
				</ul>
			</div>
			<!-- ENDS social -->
			
			
			
			<!-- Content -->
			<div id="content">
			
				<!-- masthead -->
		        <div id="masthead">
					<span class="head">Docs Admin</span><span class="subhead">adminster documentation</span>
					<ul class="breadcrumbs">
						<li><a href="<?php echo PUBLIC_PATH; ?>/">home</a></li>
						<li>/ docs admin</li>
					</ul>
				</div>
	        	<!-- ENDS masthead -->
	        	
	        	
	        	
	        	<!-- page content -->
	        	<div id="page-content-full">
	        	
						
					<p>
					The documentation of SKF is an on-going process with some features better documented than others. If you feel something could be explained better, or there is something missing, submit a patch, dont whine!
					</p>
					
<dl>
<dt><a href="<?php echo PUBLIC_PATH; ?>/docs/assets">Assets</a></dt>
<dt><a href="<?php echo PUBLIC_PATH; ?>/docs/configuration">Configuration</a></dt>
<dt><a href="<?php echo PUBLIC_PATH; ?>/docs/constants">Constants</a></dt>
<dt><a href="<?php echo PUBLIC_PATH; ?>/docs/controllers">Controllers</a></dt>
<dt><a href="<?php echo PUBLIC_PATH; ?>/docs/database">Database</a></dt>
<dt><a href="<?php echo PUBLIC_PATH; ?>/docs/events">Events</a></dt>
<dt><a href="<?php echo PUBLIC_PATH; ?>/docs/htaccess">htaccess</a></dt>
<dt><a href="<?php echo PUBLIC_PATH; ?>/docs/rss">RSS</a></dt>
<dt><a href="<?php echo PUBLIC_PATH; ?>/docs/mail">Mail</a></dt>
<dt><a href="<?php echo PUBLIC_PATH; ?>/docs/lang">Language</a></dt>
<dt><a href="<?php echo PUBLIC_PATH; ?>/docs/logging">Logging</a></dt>
<dt><a href="<?php echo PUBLIC_PATH; ?>/docs/namespaces">Namespaces</a></dt>
<dt><a href="<?php echo PUBLIC_PATH; ?>/docs/modules">Modules</a></dt>
<dt><a href="<?php echo PUBLIC_PATH; ?>/docs/caching_and_templating">Caching and Templating</dt>
<dt><a href="<?php echo PUBLIC_PATH; ?>/docs/uri">URI</a></dt>
<dt><a href="<?php echo PUBLIC_PATH; ?>/docs/validation">Validation</a></dt>
<dt><a href="<?php echo PUBLIC_PATH; ?>/docs/view">View</a></dt>

</dl>
					
	        	</div>
	        	<!-- ENDS page content -->
				
			
			</div>
			<!-- ENDS content -->
			
			<div class="clearfix"></div>
			<div class="shadow-main"></div>
			
			
		</div>
		<!-- ENDS MAIN -->
		
