  <section id="login">
    <div class="container">
      <ul class="breadcrumb">
	<li>
	  <a href="/admin">Admin</a>
	  <span class="divider">/</span>
	</li>
	<li class="active">Rebuild DAO</li>
      </ul>

      <div class="row">
	
	<!-- Account Login-->
	<div class="span9">
	  <h1 class="headingmain"><span>Rebuild DAO</span></h1>

<div class="alert alert-<?php echo $post_status; ?>">
<?php echo $message; ?>
</div>


	  <section class="returncustomer">
	    <h2 class="heading2">Rebuild DAO </h2>
	    <div class="loginbox">
	      <h4 class="heading4">Table Name is Optional</h4>
	      <form class="form-vertical" action="/admin/builddao" method="post">
		<fieldset>
		  <div class="control-group">
		    <label  class="control-label">Table Name: <?php echo $table_name_error; ?></label>
		    <div class="controls">
		      <input type="text" class="span3" name="table_name" maxlength="100" value="<?php echo $table_name; ?>" />
		    </div>
		  </div>
		  <br>
		  <br>
		  <input type="submit" class="btn btn-success" value="Build" />
		  <!-- <a href="/user/login" class="btn btn-success">Login</a> -->
		</fieldset>
	      </form>
	    </div>
	  </section>
	</div>
	
    </div>
  </section>
